body {
    background-color:rgb(210, 232, 241);
}
#otsikko{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}
input[type=text]{
    width:100%;
    padding: 10px 10px;
    margin: 10px;
    box-sizing: border-box;
}